<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>farts</title>
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Bofhbot</a></h1>
    </hgroup>
  </header>
 
  <div id="main">
    <%= yield %>
  </div>
 
  <footer>
    <p><small>eat dix</small></p>
  </footer>
</body>
</html>
